.schema-form-block-wrap {

  &.schema-form-block-wrap-desktop {
    .schema-form-block-main {
      margin-top: 0;
    }
  }

  .schema-form-block-header {
    border-bottom: 1px solid #E6E7EB;
    .schema-form-block-main {
      position: relative;
      margin-bottom: 0;
      height: 40px;
      line-height: 40px;
      .schema-form-block-title {
        padding-left: 8px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #333333;
        font-size: 16px;

        &:before {
          background: #5584FF;
          content: '';
          display: inline-block;
          height: 16px;
          left: 0;
          position: absolute;
          top: calc(50% - 16px / 2);
          width: 3px;
        }

        .remove-btn {
          color: #f5222d;
          cursor: pointer;
          float: right;
          margin-right: 8px;
        }
      }
    }
  }

  .schema-form-block {
    margin-bottom: 24px;

    &.schema-form-block-desktop {
      padding: 8px;
      border: 1px solid rgb(238, 238, 238);
      .array-item {
        border: 1px solid rgb(238, 238, 238);
        padding: 30px 20px 0;
        position: relative;
      }
    }

    &.schema-form-block-mobile {
      .array-item {
        .array-item-addition {
          text-align: center;
          margin: 0 0;
        }
      }
    }

    &&-desktop {
      .array-item-wrapper {
        padding-top: 32px;
        padding-left: 20px;
      }
    }

    .array-item {
      position: relative;
      margin-bottom: 12px;

      .array-index {
        display: block;
        left: 0;
        position: absolute;
        top: 0;

        &:after {
          border-bottom: 20px solid transparent;
          border-left: 20px solid transparent;
          border-right: 20px solid rgb(136, 136, 136);
          border-top: 20px solid transparent;
          content: "";
          display: block;
          left: -20px;
          position: absolute;
          top: -20px;
          transform: rotate(45deg);
          z-index: 0;
        }

        span {
          color: rgb(255, 255, 255);
          font-size: 12px;
          left: 3px;
          line-height: initial;
          position: absolute;
          top: 3px;
          z-index: 1;
        }
      }

      .array-item-operator {
        border-top: 1px solid rgb(238, 238, 238);
        display: flex;
        padding-top: 4px;
        position: absolute;
        right: 0;
        top: 0;

        .circle-btn {
          align-items: center;
          border-color: initial;
          border-image: initial;
          border-style: none;
          border-width: initial;
          cursor: pointer;
          display: flex;
          justify-content: center;
          margin-right: 10px;
          margin-top: 4px;
        }
      }

      .array-item-addition {
        background: rgb(251, 251, 251);
        line-height: normal !important;
        margin: 0 -20px;
        padding: 10px 20px;

        & > .form-block-add-btn {
          cursor: pointer;
          display: inline-block;
          height: 20px;
          line-height: 20px;
        }
      }
    }

    .array-empty {
      margin-bottom: 20px;

      & > i {
        margin-right: 10px;
      }
    }
  }

}

.flip-list-move {
  transition: transform 0.3s ease;
}
