.schema-form {
  .table-layout {
    & > tbody {
      & > tr > td {
        & > .ant-form-item {
          margin-bottom: 0;
          & > .ant-form-row {
            & > .ant-form-item-label {
              display: none;
            }
          }
        }
      }
    }
    .operations-col {
      width: 100px;
    }
    .circle-btn {
      align-items: center;
      border-color: initial;
      border-image: initial;
      border-style: none;
      border-width: initial;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      margin-right: 10px;
      margin-top: 4px;
    }
  }
}
