<template>
  <a-layout class="bg-white" style="padding-bottom: 20px;">
    <a-layout-content>
      <a-layout-content class="demo-wrapper">
        <code v-html="md"
              class="markdown-body"></code>
      </a-layout-content>
      {{{demoTmpl}}}
    </a-layout-content>
  </a-layout>
</template>
<script lang="ts">
  import CodeWrapper from '@/components/code-wrapper.vue';
  {{{demoImports}}}
  import md from '{{{mdPath}}}';
  {{{codeImports}}}

  export default {
    name: 'DocEffects',
    components: {CodeWrapper{{{demoImportNames}}}},
    data() {
      return {md{{{codeFieldNames}}}};
    }
  };
</script>
