.el-form-item__content {
  & > .el-rate {
    margin-top: 11px;
  }
}

.am-list-item .am-list-item-required:before {
  margin: 0 4px 0 0;
}

.am-list.am-list-vertical {
  .am-input-control {
    & > input {
      text-align: left;
    }
  }
}

.am-list.am-list-section.am-list-section-default > .am-list-body > .am-card {
  margin-bottom: 8px;
}
