<template>
  <a-layout class="bg-white" style="padding-bottom: 20px;">
    <a-layout-content>
      <a-layout-content class="demo-wrapper">
        <code class="markdown-body">
          {{{md}}}
        </code>
      </a-layout-content>
      {{{demoTmpl}}}
    </a-layout-content>
  </a-layout>
</template>
<script lang="ts">
  import {defineComponent} from 'vue';
  import CodeWrapper from '../../components/code-wrapper.vue';
  {{{demoImports}}}
  {{{codeImports}}}

  export default defineComponent({
    name: 'DocEffects',
    components: {CodeWrapper{{{demoImportNames}}}},
    setup() {
      return {{{{codeFieldNames}}}};
    }
  });
</script>
