<template>
  <a-layout class="bg-white" style="padding-bottom: 20px;">
    <a-layout-content>
      <a-layout-content class="demo-wrapper">
        <code class="markdown-body">
          {{{md}}}</code>
      </a-layout-content>
    </a-layout-content>
  </a-layout>
</template>
